@model KeroseneORMPresetation.Models.Equipo

@{
    ViewBag.Title = "Registrar Equipo";
}

<br />
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">Registrar un nuevo Equipo</div>
            <div class="panel-body">
                <div class="col-md-10 col-md-offset-2">
                    <form class="form-horizontal" action="/equipos/create" method="post">
                        <div class="form-group">
                            <p>Nombre del Equipo</p>
                            <input class="form-control" type="text" name="nombre" placeholder="Nombre" />
                        </div>
                        <div class="form-group">
                            <p>Uniforme</p>
                            <input class="form-control" type="text" name="Uniforme" placeholder="Uniforme" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Guardar">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>